html
  head
  body
    div#lobby
      button#create_button create room
      button#play_robot play against robot
      div#list_of_rooms
    div#game_area
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')      
  script(src='./socket.io/socket.io.js')
  script(src='/javascript/oop.js')
  script(src='/javascript/constants.js')
  script(src='/javascript/game.js')
  script(src='/javascript/drawable.js')
  script(src='/javascript/board.js')
  script(src='/javascript/interactable.js')
  script(src='/javascript/space.js')
  script(src='/javascript/player.js')
  script(src='/javascript/turnhistory.js')
  script(src='/javascript/bg.js')